.title {
    font-size: 24px;
    font-weight: 600;
    padding: 24px 16px;
    color: #333333
}
.error_message {
    color: rgb(32, 32, 70);
    margin: 32px 0;
    font-weight: 500;
    text-align: center;
}